#rewards{
    background-color: var(--bg-light-primary);
    color: #565656;
    padding-bottom: 4rem;
}

#rewards.dark{
    background-color: var(--bg-dark-primary);
}


#rewards .top_title{
    background-color: #C1D3CD;
    color: #565656;
}

#rewards.dark .top_title{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: var(--bg-dark-secondary);
    color: white;
}

#rewards.dark .top_title span{
    opacity: .7;
}

#rewards .content .cards{
    width: 80%;
    margin: 2rem 0;
}

#rewards .content .cards .card img{
    width: 9rem;
    height: 80%;
    padding-bottom: 3rem;
}

#rewards .content .cards .card .card-body{
    width: 100%;
    padding: 0;
    position: relative;
}

#rewards .content .cards .card .card-body .btn{
    background-color: rgba(254, 251, 243, 0.5);
    border-radius: 13px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    padding: .5rem .5rem;
    width: 100%;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#rewards .content .cards .card .card-body .btn.orange{
    background-color: orange;
}
#rewards .content .cards .card .card-body .btn.green{
    background-color: #82CEAE;
}
#rewards .content .cards .card .card-body .btn.purple{
    background-color: #C49AE6;
}
#rewards .content .cards .card .card-body .btn.blue{
    background-color: #7EB3E4;
}

#rewards .content .cards .card .card-title{
    background-color: #98BAAF;
    width: 100%;
    font-size: 1rem;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .5rem 0;
    color: #565656;
    font-weight: bold;
}

#rewards.dark .content .cards .card .card-title{
    background-color: #0a0624;
}

#rewards .content .cards .card{
    background: #C1D3CD;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}


#rewards .content .cards .card .card-body img{
    width: 1.2rem;
}

#rewards.dark .content .cards .card{
    background: var(--bg-dark-secondary);
}

#rewards .preview{
    width: 100%;
    margin-top: 4.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    background-color: #C1D3CD;
}

#rewards.dark .preview{
    background-color: var(--bg-dark-secondary);
}

#rewards .preview img{
    width: 15rem;
}

/* Modal Code */
#rewards .custom_modal_layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(56, 54, 54, 0.7);
}

#rewards .custom_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 60%;
    background: var(--bg-light-primary);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding-top: 5rem;
    overflow: hidden;
}


#rewards.dark .custom_modal{
    background: var(--bg-dark-secondary);
}

#rewards .custom_modal input,
#rewards .custom_modal textarea{
    width: 80%;
    padding: .3rem 1rem;
    border-radius: 12px;
    resize: none;
    margin-bottom: 1rem;
    border: 1px solid #C1D3CD;
}

#rewards .bg-danger{
    background-color: orange !important;
    border: none;
}

#rewards .custom_modal .modal_bottom{
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
}

#rewards .custom_modal .modal_bottom .circles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C1D3CD;
    padding: 2rem 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#rewards .custom_modal .modal_bottom .circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}


#rewards .custom_modal .modal_bottom .circle::before{
    position: absolute;
    content: '';
    width: 8rem;
    top: 20%;
    right: 70%;
    height: .4rem;
    background-color: white;
    z-index: -3;
}

#rewards .custom_modal .modal_bottom .circle:first-of-type::before{
    top: 20%;
    z-index: -1;
    left: 60%;
    background-color: orange;
}


#rewards .custom_modal .modal_bottom .circle div{
    background-color: white;
    border-radius: 50px;
    padding: 1rem;
    width: 3.5rem;
    margin-bottom: 1rem;
}

#rewards .custom_modal .modal_bottom .btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

#rewards .custom_modal .modal_bottom .btns .btn{
    width: 10rem;
    margin: 0 auto;
    margin-top: .5rem;
}

#rewards .custom_modal .modal_bottom .circle:first-of-type div{
    background-color: orange;
}

#rewards.dark .custom_modal input,
#rewards.dark .custom_modal textarea{
    background-color: var(--bg-dark-primary);
    color: white;
    border : 1px solid var(--bg-dark-secondary);
}

#rewards .custom_modal .btn{
    border-radius: 12px;
    background-color: #C1D3CD;
    color: white;
    margin-top: 1rem;
    border: 1px solid #C1D3CD;
}

#rewards .spinner {
    color: gray;
    font-size: 12px;
    margin: 20px auto .1rem auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }

#rewards .custom_modal .btn:first-of-type{
    border-radius: 12px;
    background-color: var(--bg-light-primary);
    color: black;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid #C1D3CD;
}

#rewards.dark .custom_modal .btn{
    background-color: var(--bg-dark-secondary);
}

#rewards.dark .custom_modal .btn:first-of-type{
    background-color: var(--bg-dark-primary);
    color: white;
}

#rewards .close_modal{
    position: absolute;
    top: .5rem;
    right: .6rem;
    color: gray;
    border-radius: 50px;
    padding: 0 .7rem;
    background-color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#rewards.dark .close_modal{
    background-color: var(--bg-dark-primary);
}

@media only screen and (max-width: 768px) {
    #rewards .content .cards .card{
        width: 80%;
        margin: 0 auto;
    }
    #rewards .content .cards{
        width: 100%;
        margin: 2rem 0;
    }
    #rewards .custom_modal{
        width: 80%;
        height: 60vh;
    }

    #rewards .custom_modal .modal_bottom .circle::before{
        right: 80%;
        height: .4rem;
    }
    
    #rewards .custom_modal .modal_bottom .circle:first-of-type::before{
        width: 8rem;
        left: 40%;
    }
}

@media only screen and (max-width: 500px) {
    #rewards .content .cards .card{
        width: 60%;
        margin: 0 auto;
    }

    #rewards .preview{
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    #rewards .content .cards .card{
        width: 80%;
        margin: 0 auto;
    }

    #rewards .content .cards{
        width: 100%;
        margin: 2rem 0;
    }

    #rewards .custom_modal .modal_bottom .circle::before{
        right: 50%;
    }
    
    #rewards .custom_modal .modal_bottom .circle:first-of-type::before{
        width: 8rem;
        left: 40%;
    }

}