#front{
   height: 120vh; 
}

#front .first_modal,#front .second_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 57%;
    background: var(--bg-light-primary);
    z-index: 100;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding-bottom: 2rem;
}

#front .second_modal{
    height: 50%;
}

#front .close_modal{
    position: absolute;
    top: .5rem;
    right: .6rem;
    color: #C4C4C4;
    border-radius: 50px;
    padding: 0 .6rem;
    background-color: #FEFBF3;
    font-size: 1.5rem;
    cursor: pointer;
}


#front .first_modal .modal_content .modal_top, #front .second_modal .modal_content .modal_top{
    border-radius: 12px;
    padding: 2rem 0;
    background-color: var(--bg-light-secondary);
}

#front .first_modal .modal_content .modal_bottom, 
#front .second_modal .modal_content .modal_bottom{
    padding: 1.5rem 0;
}

#front .first_modal .modal_content .modal_bottom .counter{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

#front .first_modal .modal_content .modal_bottom .calc{
    padding: .3rem 1.2rem;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--bg-light-primary);
    border: 1px solid var(--bg-light-secondary);
}

#front .first_modal .modal_content .modal_bottom .count_val{
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--bg-light-secondary);
}

#front .first_modal .modal_content .modal_bottom .modal_btns .btn,
#front .second_modal .modal_content .modal_bottom .btn{
    padding: .7rem .5rem;
    border-radius: 12px;
    font-weight: bold;
    font-size: .9rem;
    width: 10rem;
    color: black;
    background-color: var(--bg-light-secondary);
    border: none;
}

#front .first_modal .modal_content .modal_bottom .modal_cancel .btn,
#front .second_modal .modal_content .modal_bottom .modal_cancel .btn{
    font-size: .9rem;
    border: none;   
    background-color: var(--bg-light-primary);
    color: black;
    margin-top: 1rem;
}

#front .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#front .content *:not(img){
    z-index: 20;
}

#front .content .top_title{
    font-size: clamp(2rem, 13vw, 12rem);
    font-weight: bold;
    color: white;
}

#front .content .top_title span:last-of-type{
    color: black;
}

#front .content img{
    width: 100%;
    height: 100%;
    margin-top: -7rem;
    z-index: 10;
}

#front .content .cute_title{
    font-size: clamp(1.2rem, 5vw, 4rem);
    font-weight: bold;
    color: black;
    margin-top: -5rem;
    margin-bottom: 10rem;
    text-align: center;
}

#front .content .cute_title span:last-of-type{
    color: white;
}

#front .content .sold{
    color: #626460;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(.8rem, 5vw, 1.5rem);
}

#front .content .front_btns{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

#front .content .front_btns .btn{
    margin: .5rem 1rem;
    /* width: 14rem; */
    background-color: var(--primary-color);
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    padding: .7rem 2rem;
    font-size: clamp(.8rem, 4vw, 1.2rem);
    transition: scale .3s ease;
}

#front .content .front_btns .btn:hover{
    scale: 1.1;
}

#front .content .front_btns .btn:last-of-type{
    color: #337483;
}

@media only screen and (max-width: 1200px){
    #front{
        height: 100vh;
    }
}

@media only screen and (max-width: 990px){
    #front{
        height: 100vh;
    }
    
    #front .content img{
        margin-top: -02rem;
    }
    
    #front .content .cute_title{
        margin-top: -.5rem;
        margin-bottom: 2rem;
    }

    #front .content .front_btns .btn{
        margin: .5rem 0;
        width: 70%;
    }
}

@media only screen and (max-width: 767px){
    #front{
        height: 90vh;
    }
    #front .first_modal{
        height: 70%;
    }
    #front .first_modal, #front .second_modal{
        width: 90%;
    }

}

@media only screen and (max-width: 500px){
    #front{
        height: 80vh;
    }
    
    #front .first_modal .modal_content .modal_bottom .modal_btns .btn:first-of-type{
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 400px){
    #front{
        height: 60vh;
    }
}