#topbar{
    width: 70%;
    height: 15rem;
    margin-left: 25%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: rgba(231, 229, 220, 0.5);
}

#topbar.dark{
    overflow: hidden;
    background:url('../../../assets/wallet/dark_theme_wallet_topbar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#topbar .topbar_img{
    position: absolute;
    left: 0;
    top: -5rem;
}

#topbar .text{
    position: absolute;
    bottom: 1rem;
    left: 4rem;
}

#topbar.dark .text{
    color: #fff;
}

#topbar .text p{
    font-size: clamp(.1rem, 3vw, 1rem);
}

@media only screen and (max-width: 768px) {
    #topbar{
        width: 95%;
        margin: 0 auto;
    }       
    #topbar .text{
        left: 1rem;
    }
}