@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 0rem !important;
}

:root{
  --bg-primary: #BDC8C5;
  --bg-secondary: #131129;
  --bg-light-primary: #FEFBF3;
  --bg-light-secondary: #C1D3CD;
  --bg-dark-primary: #131129;
  --bg-dark-secondary: #1D1933;
  --primary-color: #FEFBF3;
  --light-sidebar-text: #717171;
}

.App{
  font-family: 'Quantico', sans-serif;
  background-color: var(--bg-primary);
}

.custom-container{
  width: 85%;
  margin: 0 auto;
}