#wallet_sidebar{
    width: 320px;
    margin: 6rem 0;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--light-sidebar-text);
    z-index: 20;

}

#wallet_sidebar .content{
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#wallet_sidebar .content{
    background-color: #C1D3CD;
}

#wallet_sidebar.dark .content{
    background-color: var(--bg-dark-secondary);
}

#wallet_sidebar .content .top_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

#wallet_sidebar .content .top_section .address span{
    color: #1F1F1F;
    opacity: .4;
}

#wallet_sidebar.dark .content .top_section .address span{
    color: #fff;
}

#wallet_sidebar.dark .content .top_section .name{
    color: #fff;
}

#wallet_sidebar .content .top_section img{
    margin-bottom: 1rem;
}

#wallet_sidebar .content .theme_switcher{
    width: 100%;
    display: flex;
    padding: .8rem 1rem;
    align-items: center;
    justify-content: space-between;
}

#wallet_sidebar .content .theme_switcher{
    background-color: var(--bg-light-primary);
}

#wallet_sidebar .content .filters{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.7rem 1rem;
    justify-content: space-between;
}

#wallet_sidebar .content .filters .filter_text{
    font-size: 1.2rem;
}

#wallet_sidebar .content .filters .remove_all{
    font-size: 1rem;
    color: var(--light-sidebar-text)
}

#wallet_sidebar .content .checks{
    width: 100%;
}

#wallet_sidebar .content .checks .check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 1rem;
    border-radius: 40px;
    margin: 1rem .7rem;
    background-color: var(--bg-light-primary);
}

#wallet_sidebar .content .type_label{
    font-size: 1.2rem;
    padding: 0 1rem;
}

#wallet_sidebar .content.close{
    display: none;
}

#wallet_sidebar .toggle_icon{
    position: absolute;
    top: 0;
    left: .5rem;
    cursor: pointer;
}

/* Theme switch toggler */
#wallet_sidebar .content .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  #wallet_sidebar .content .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #wallet_sidebar .content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #wallet_sidebar .content .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #wallet_sidebar .content input:checked + .slider {
    background-color: #2196F3;
  }
  
  #wallet_sidebar .content input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  #wallet_sidebar.dark .content input:checked + .slider {
    background-color: #B0B0B0;
  }
  
  #wallet_sidebar .content input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  #wallet_sidebar .content .slider.round {
    border-radius: 34px;
  }
  
  #wallet_sidebar .content .slider.round:before {
    border-radius: 50%;
  }

@media only screen and (min-width: 768px){
    #wallet_sidebar .toggle_icon{
        display: none;
    }
}